<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="../assets/images/256x256bb.jpg" style="width: 50%; margin: auto; display: block"></ion-img>
    <form class="ion-text-center">
        <ion-item>
            <ion-label position="floating">Nom d'utilisateur</ion-label>
            <ion-input [(ngModel)]="username" name="username" required="true"></ion-input>
        </ion-item>
        <ion-button (click)="onLogin()" shape="round" fill="outline">Se Connecter</ion-button>
    </form>
</ion-content>
